@model IEnumerable<OnlineShop.Application.Cart.CartPositionDto>

@{
    ViewData["Title"] = "Koszyk";
}

<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Koszyk</h4>
            </div>
            @foreach (var item in Model)
            {
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1">
                        <img class="rounded" src="../Img/@item.ProductDto.Images.FirstOrDefault().FileName" width="70">
                    </div>
                    <div class="d-flex flex-column align-items-center product-details">
                        <span class="font-weight-bold">@item.ProductDto.Name</span>
                        <div class="d-flex flex-row product-desc">
                            <div class="size mr-1"><span class="text-grey">@item.ProductDto.Description</span></div>
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        <a asp-action="MinusCount" asp-route-productEncodedName="@item.ProductDto.EncodedName">
                            <i class="fa fa-minus text-danger"></i>
                        </a>
                        <h5 class="text-grey mt-1 mr-1 ml-1">@item.Count</h5>
                        <a asp-action="PlusCount" asp-route-productEncodedName="@item.ProductDto.EncodedName">
                            <i class="fa fa-plus text-success"></i>
                        </a>
                    </div>
                    <div>
                        <h5 class="text-grey">@item.ProductDto.Price zł</h5>
                    </div>
                    <div class="d-flex align-items-center">
                        <a asp-action="Delete" asp-route-productEncodedName="@item.ProductDto.EncodedName">
                            <i class="fa fa-trash mb-1 text-danger"></i>
                        </a>
                    </div>
                </div>
            }
            @if (Model.Count()==0)
            {
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <p>Koszyk jest pusty</p>
                </div>
            }
            else
            {
             <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><button class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Złóż zamówienie</button></div>
                
            }


        </div>
    </div>
</div>
@section Styles{
    <link rel="stylesheet" href="~/css/CartCss.css" asp-append-version="true" />

}

